/*

        text-align: center;
        direction: ltr;
        text-transform: uppercase;
        letter-spacing: 10px;
        letter-spacing: 10px;
        width: 30%;
        line-height: 100px;
        text-decoration-line: underline overline line-through;
        text-decoration-color: green;
        text-decoration-style: wavy;
        text-decoration: underline black wavy;

        text-shadow: H-shadow V-shadow Blur color;

        box-shadow: H-shadow V-shadow Blur Spread color Inset;

        white-space: nowrap;
        white-space: pre;
        white-space: pre-wrap;
        white-space: pre-line;
        word-wrap: break-word;
        font-family: monospace;
        font-size: 100%;
        font-style: italic;
        font-variant: small-caps;
        font-weight: bold;
        // shorthand for font.
        font: italic small-caps bold 100px fantasy;
        background-image: url(../Project1/Images/snake.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: left top;
        background-size: 300px 300px;
        background-size: cover;
        background-size: contain;
        background-origin: padding-box;
        background: red url(../Project1/Images/snake.jpeg) no-repeat right top/contain content-box;
        background-image: linear-gradient(to bottom, red, white, black);
        background-image: radial-gradient(ellipse, red, white, black);
        float: left;
        clear: both;
        overflow: hidden;
        overflow: visible;
        overflow: scroll;
        overflow: auto;
        position: relative;
        top: 10px;
        left: 10px;
        z-index: 1;
        list-style-position: inside;
        list-style-type: armenian;
        list-style-image: url();
        border-spacing: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: flexDirection flexWrap;
        justify-content: flex-end;
        align-items: center;
        align-content: center;

*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.flex {
    background-color: #eee;
    width: 800px;
    height: 400px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
}

.flex div {
    background-color: #f00;
    color: white;
    width:80px;
    padding: 20px;
    margin-right: 5px;
    flex-grow: 1;
}
